@import '../../styles/_common.scss';
.page {
    width: 100%;
    .title {
        width: 100%;
        height: rem(400);
        border-bottom: rem(2) solid #F4F7F8;
        background: #000;
        video{
            width: 100%;
            height: rem(400);
        }
    }
    .video {
        position: relative;
        video {
            width: 100%;
            height: auto;
            background-color: #000;
        }
        &.wait::before {
            content: '';
            position: absolute;
      width: rem(140);
      height: rem(140);
      top: 53%;
      left: 50%;
            background: url("../../static/image/icon-play.png") no-repeat;
      background-size: cover;
      transform: translate(-50%, -50%);
            z-index: 99;
        }
    }
    .content {
        width: 100%;
        padding: rem(40) rem(40) rem(25);
        box-sizing: border-box;
        h3 {
            font-size: rem(34);
        }
        p {
            font-size: rem(25);
            line-height: rem(44);
            color: #666666;
            display: flex;
            align-content: center;
            span {padding-top:rem(3) ;
                display: inline-block;
                width: rem(28);
                height: rem(44); // background: url(../static/image/ren.png) no-repeat;
//              background: url(../../static/image/ren1.png) 0 center no-repeat;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            b{
                margin-left: rem(10);
              font-weight: normal;   
            }
        }
    }
    .a_sp {
        width: 100%;
        height: rem(20);
        background: #F5F5F5;
    }
    .curriculum {
        width: 100%;
        
        text-align: center;
        font-size: rem(30);
        height: rem(550);
        .scroll_container{
            height: 100%;
            background: #f5f5f5;
            ul{
                background: #fff;
                box-sizing: border-box;
                padding:rem(45) rem(40);
                 border-bottom: rem(20) solid #F5F5F5;
                 h3{
                     font-size: rem(34);
                 };
                li{
                    position: relative;
                } 
                span{   
                        position: absolute;
                        margin-right: rem(32);
                        display: inline-block;
                        width: rem(14);
                        height: rem(14);
                        border-radius: 50%;
                        font-weight: bolder;
                        margin-bottom: rem(2); 
                        top: rem(15);
                        left: rem(0);                   
                }
                 li:nth-child(odd) {
                        span {
                            border: 3px solid #ff6767;
                        }
                    }
                    li:nth-child(even) {
                        span {
                            border: 3px solid green;
                        }
                    }
            }
            h3 {
                font-size: rem(30);
                margin-bottom: rem(43);
            }
            span {
                float: left;
                color: #E75444;
            }
            .list {
                text-align: left;
                margin-left: rem(40);
                margin-bottom: rem(34);
               
                h3 {
                    margin-bottom: rem(6);
                    font-size: rem(30);
                    font-weight: normal;
                }
                p {
                    font-size: rem(26);
                    line-height: rem(42);
                    color: #666;
                }
            }
            .award{
                margin-top: rem(20);
                height: rem(660);
                background: #fff;
                padding: 0 rem(56);
                //margin-bottom: rem(210);
                h3{
                    margin-top: rem(45);
                    font-size: rem(34);
                }
                p{
                    line-height: rem(50);
                    text-align: left;
                    font-size: rem(30);
                }
                .imgContainer{
                    width: rem(200);
                    margin: rem(60) auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        
    }
    .footer {
            width: 100%;
            text-align: center;
            position: fixed;
            bottom: 0;
            z-index: 100;
            height: rem(160);
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border-top:rem(1) solid #efefef;
            .sure {
              width: rem(440);
              height: rem(90);
              font-size: rem(36);
              color: #fff;
              background: #ff6767;
              text-align: center;
              margin: 0 auto;
              line-height: rem(90);
              border-radius: rem(45);
            }
            .sure:active{
               opacity: .8;
            }
            .last_mask{
                width: rem(440);
                height: rem(90);
                position: absolute;
                top: center;
                background: transparent;
            }
        }
}