 @import '../../styles/_common.scss';
 .group {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: rem(20) rem(20) rem(75);
   box-sizing: border-box;
   color: #000;
   font-size: rem(30);
   .DelayTime {
     visibility: hidden;
     &.show {
       visibility: visible;
     }
   }
   .top {
            width: 100%;
            position: fixed;
            top: 0;
            padding: rem(30);
            box-sizing: border-box;
            display: flex;
            height: rem(110);
            justify-content: space-between;
     .reset {
            width: rem(130);
            height: rem(50);
            border: rem(2) solid #FA5857;
            border-radius: rem(25);
            color: #FA5857;
            background: transparent;
            font-size: rem(26);
            text-align: center;
            line-height: rem(50);
     }
     .toggle {
       display: flex;
       justify-content: center;
       .mui-switch {
         margin-right: rem(20);
       }
     }
     .count {
       position: relative;
       &::before {
         position: absolute;
         left: rem(-50);
         top: 50%;
         transform: translateY(-50%);
         content: '';
         width: rem(40);
         height: rem(40);
         background: url('../../static/image/icon001.png') no-repeat;
         background-size: cover;
       }
       .cur {
         color: #fa5857;
         font-size: rem(28);
       }
     }
   }
   .tape {
     width: 100%; // height: rem(400);
     margin: 0 auto;
     padding: 0 rem(50); //  position: fixed;
     background-color: #fff; //  left: 50%;
     //  bottom: 0;
     //  transform: translateX(-50%);
     .animate{
         margin-top: rem(85);
     }
     ul {
       display: flex; //  justify-content: space-between;
       justify-content: space-around;
       align-items: center;
       margin-top: rem(46);
       height: rem(110);
       li {
         width: rem(86);
         height: rem(86); //  background-color: #666;
         border-radius: 50%;
         position: relative;
         overflow: hidden;
         &.tape-start {
           width: rem(110);
           height: rem(110);
           background: url('../../static/image/tape.png') no-repeat;
           background-size: contain;
         }
         img {
           width: 100%;
           height: 100%;
         }
         &.play {
           &[data-song="1"] {}
           &[data-song="2"] {
             &.not {
               &::before {
                 background: url('../../static/image/cry.png') no-repeat;
                 background-color: rgba(253, 199, 49, 0.8);
                 background-size: cover;
               }
             }
             &::before {
               position: absolute;
               border-radius: 50%;
               content: '';
               width: 100%;
               height: 100%;
               left: 0;
               top: 0;
               background: url('../../static/image/stop.png');
               background-repeat: no-repeat;
               background-position: center;
               background-size: 60%;
               z-index: 99;
             }
             .wp {
               @include wp();
             }
           }
         }
         &.pause {
           &[data-song="1"] {}
           &[data-song="2"] {
             &.not {
               &::before {
                 background: url('../../static/image/cry.png') no-repeat;
                 background-color: rgba(253, 199, 49, 0.8);
                 background-size: cover;
               }
             }
             &::before {
               position: absolute;
               border-radius: 50%;
               content: '';
               width: 100%;
               height: 100%;
               left: 0;
               top: 0;
               background: url('../../static/image/play.png');
               background-repeat: no-repeat;
               background-position: center;
               background-size: 60%;
               z-index: 99;
             }
           }
           .wp {
             @include wp();
           }
         }
       }
     }
     .tip {
       font-size: rem(22);
       padding-top: rem(30);
       color: #999;
       text-align: center;
     }
   }
   .con {
     width: 100%;
     padding: rem(50);
     flex-grow: 1;
     overflow-y: auto;
     position: relative;
     &::before {
       content: '';
       width: 100%;
       height: 50%;
       top: 50%;
       left: 0;
       z-index: 9;
       position: absolute;
       background-color: rgba(255, 255, 255, .6);
     }
     .scroll {
       width: 100%;
       height: auto;
     }
     .item {
       height: rem(400);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
       .avatar {
         width: rem(80);
         height: rem(80);
         border-radius: 50%;
         overflow: hidden;
         margin-bottom: rem(50);
         img {
           width: 100%;
           height: 100%;
         }
       }
       &[data-first="1"] {
         &:nth-child(even) {
           position: relative;
           display: flex;
           flex-direction: column;
           align-items: flex-end;
           text-align: right; //  &::before {
           //    content: '';
           //    width: 100%;
           //    height: 100%;
           //    top: 0;
           //    left: 0;
           //    z-index: 9;
           //    position: absolute;
           //    background-color: rgba(255, 255, 255, .6);
           //  }
         }
       }
       &[data-first="0"] {
         &:nth-child(odd) {
           position: relative;
           display: flex;
           flex-direction: column;
           align-items: flex-end;
           text-align: right; //  &::before {
           //    content: '';
           //    width: 100%;
           //    height: 100%;
           //    top: 0;
           //    left: 0;
           //    z-index: 9;
           //    position: absolute;
           //    background-color: rgba(255, 255, 255, .6);
           //  }
         }
       }
       .lrc-box {
         position: relative;
         height: rem(60);
         position: relative;
         flex-shrink: 0;
         p {
           text-align: left;
           overflow: hidden;
           height: rem(60);
           white-space: nowrap;
           &.cur {
             transform: translateY(rem(-60));
             color: #fa5857;
             width: 0;
             overflow: hidden;
             &.active {
               transition: all .4s;
             }
           }
         }
       }
     }
   } //教学提示
   .lrc-tips {
     width: rem(500);
     height: rem(110);
     background-color: #ffe466;
     border-radius: rem(50);
     position: absolute;
     left: 50%;
     top: 28%;
     color: #666;
     transform: translateX(-50%);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: rem(30);
     padding-left: rem(110);
     font-size: rem(24);
     &.bt {
       top: 70%;
       z-index: 9999
     }
     &::after {
       content: '';
       width: rem(134);
       height: rem(134);
       position: absolute;
       left: rem(-10);
       top: rem(10);
       background: url('../../static/image/tips_boy.png') no-repeat;
       background-size: cover;
     }
     &::before {
       content: '';
       width: 0;
       height: 0;
       border: rem(20) solid transparent;
       position: absolute;
       left: rem(120);
       bottom: rem(-59);
       transform: translateY(-50%);
       border-top-color: #ffe466;
     }
   }
 }
